:root {
  --font-color: #e9e9e9;
  --link-unvisited-color: antiquewhite;
  --link-visited-color: aliceblue;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a:link {
  color: var(--link-unvisited-color);
}

a:visited {
  color: var(--link-visited-color);
}

body,
#cover-section,
#cover-overlay,
#input-section,
#input-section div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#cover-section {
  min-width: 35%;
  height: 100vh;

  background: url('./assets/img/nathan-dumlao-zi5vRoAP3WY-unsplash.jpg');
  background-size: cover;

  flex-direction: column;
  justify-content: space-between;
}

#cover-overlay {
  width: 100%;

  background-color: rgba(0, 0, 0, 0.561);
  color: var(--font-color);
  font-size: 60px;

  position: relative;
  top: 150px;

  justify-content: center;
}

#cover-overlay img {
  max-width: 100px;
}

#cover-image-credit {
  color: var(--font-color);

  justify-self: flex-end;
}

#main-section {
  margin-left: 5rem;

  padding-right: 200px;
}

#main-section p {
  font-size: 30px;
}

#main-section p:first-of-type {
  margin-bottom: 2rem;
}

#main-section p:last-of-type {
  margin-bottom: 6rem;
}

form h2 {
  margin-bottom: 2rem;
}

#input-section {
  flex-flow: wrap;
}

#input-section div {
  width: 40%;

  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 1.8rem;
}
